/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  /* Dark theme */
  --dark-blue: #0a84ff;
  --dark-brown: #ac8e68;
  --dark-cyan: #64d2ff;
  --dark-green: #30d158;
  --dark-indigo: #5e5ce6;
  --dark-mint: #66d4cf;
  --dark-orange: #ff9f0a;
  --dark-pink: #ff375f;
  --dark-purple: #bf5af2;
  --dark-red: #ff453a;
  --dark-teal: #40c8e0;
  --dark-yellow: #ffd60a;
  --dark-gray: #8e8e93;
  --dark-gray-2: #636366;
  --dark-gray-3: #48484a;
  --dark-gray-4: #3a3a3c;
  --dark-gray-5: #2c2c2e;
  --dark-gray-6: #1c1c1e;
  --dark-gray-6-translusent: #0f0f0fd6;
  --dark-label: #ffffff;
  --dark-secondary-label: #f3f3f8;
  --dark-tertiary-label: #f8f8fc;
  --dark-quaternary-label: #fbfbfd;
  --dark-system-fill: #ceced1;
  --dark-secondary-system-fill: #d3d3d6;
  --dark-tertiary-system-fill: #6e6e6e;
  --dark-quaternary-system-fill: #303030;
  --dark-placeholder-text: #f8f8fc;
  --dark-system-background: #000000;
  --dark-secondary-system-background: #1c1c1e;
  --dark-tertiary-system-background: #2c2c2e;
  --dark-system-grouped-background: #000000;
  --dark-secondary-system-grouped-background: #1c1c1e;
  --dark-tertiary-system-grouped-background: #2c2c2e;
  --dark-seperator: #98989b;
  --dark-opaque-saparator: #38383a;
  --dark-link: #0b84ff;

  /* Light Theme */
  --light-blue: #007aff;
  --light-brown: #a2845e;
  --light-cyan: #32ade6;
  --light-green: #34c759;
  --light-indigo: #5856d6;
  --light-mint: #00c7be;
  --light-orange: #ff9500;
  --light-pink: #ff2d55;
  --light-purple: #af52de;
  --light-red: #ff3b30;
  --light-teal: #30b0c7;
  --light-yellow: #ffcc00;
  --light-gray: #8e8e93;
  --light-gray-2: #aeaeb2;
  --light-gray-3: #c7c7cc;
  --light-gray-4: #d1d1d6;
  --light-gray-5: #e5e5ea;
  --light-gray-6: #f2f2f7;
  --light-gray-6-translusent: #f2f2f787;
  --light-label: #000000;
  --light-secondary-label: #8a8a8e;
  --light-tertiary-label: #c4c4c6;
  --light-quaternary-label: #dcdcdd;
  --light-system-fill: #e4e4e6;
  --light-secondary-system-fill: #e9e9ea;
  --light-tertiary-system-fill: #eeeeef;
  --light-quaternary-system-fill: #f4f4f5;
  --light-placeholder-text: #c4c4c6;
  --light-system-background: #ffffff;
  --light-secondary-system-background: #f2f2f7;
  --light-tertiary-system-background: #ffffff;
  --light-system-grouped-background: #f2f2f7;
  --light-secondary-system-grouped-background: #ffffff;
  --light-tertiary-system-grouped-background: #f2f2f7;
  --light-seperator: #c6c6c8;
  --light-opaque-saparator: #c5c5c8;
  --light-link: #007aff;

  /* animation speed */
  --animation-speed: 200ms;

  /* Box shadow */
  --box-shadow-level-2: -4px 8px 22px 4px #0000000f;

  --transition-time: 375ms;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --color-blue: var(--dark-blue);
  --color-brown: var(--dark-brown);
  --color-cyan: var(--dark-cyan);
  --color-green: var(--dark-green);
  --color-indigo: var(--dark-indigo);
  --color-mint: var(--dark-mint);
  --color-orange: var(--dark-orange);
  --color-pink: var(--dark-pink);
  --color-purple: var(--dark-purple);
  --color-red: var(--dark-red);
  --color-teal: var(--dark-teal);
  --color-yellow: var(--dark-yellow);
  --color-gray: var(--dark-gray);
  --color-gray-2: var(--dark-gray-2);
  --color-gray-3: var(--dark-gray-3);
  --color-gray-4: var(--dark-gray-4);
  --color-gray-5: var(--dark-gray-5);
  --color-gray-6: var(--dark-gray-6);
  --color-gray-6-translusent: var(--dark-gray-6-translusent);
  --color-label: var(--dark-label);
  --color-label-inverted: var(--light-label);
  --color-secondary-label: var(--dark-secondary-label);
  --color-tertiary-label: var(--dark-tertiary-label);
  --color-quaternary-label: var(--dark-quaternary-label);
  --color-system-fill: var(--dark-system-fill);
  --color-secondary-system-fill: var(--dark-secondary=system-fill);
  --color-tertiary-system-fill: var(--dark-tertiary-system-fill);
  --color-quaternary-system-fill: var(--dark-quaternary-system-fill);
  --color-placeholder-text: var(--dark-placeholder-text);
  --color-system-background: var(--dark-system-background);
  --color-secondary-system-background: var(--dark-secondary-system-background);
  --color-tertiary-system-background: var(--dark-tertiary-system-background);
  --color-system-grouped-background: var(--dark-system-grouped-background);
  --color-secondary-system-grouped-background: var(
    --dark-secondary-system-grouped-background
  );
  --color-tertiary-system-grouped-background: var(
    --dark-tertiary-system-grouped-background
  );
  --color-seperator: var(--dark-seperator);
  --color-opaque-saparator: var(--dark-opaque-saparator);
  --color-link: var(--dark-link);
}

:root[data-theme='light'] {
  color-scheme: light;
  --color-blue: var(--light-blue);
  --color-brown: var(--light-brown);
  --color-cyan: var(--light-cyan);
  --color-green: var(--light-green);
  --color-indigo: var(--light-indigo);
  --color-mint: var(--light-mint);
  --color-orange: var(--light-orange);
  --color-pink: var(--light-pink);
  --color-purple: var(--light-purple);
  --color-red: var(--light-red);
  --color-teal: var(--light-teal);
  --color-yellow: var(--light-yellow);
  --color-gray: var(--light-gray);
  --color-gray-2: var(--light-gray-2);
  --color-gray-3: var(--light-gray-3);
  --color-gray-4: var(--light-gray-4);
  --color-gray-5: var(--light-gray-5);
  --color-gray-6: var(--light-gray-6);
  --color-gray-6-translusent: var(--light-gray-6-translusent);
  --color-label: var(--light-label);
  --color-label-inverted: var(--dark-label);
  --color-secondary-label: var(--light-secondary-label);
  --color-tertiary-label: var(--light-tertiary-label);
  --color-quaternary-label: var(--light-quaternary-label);
  --color-system-fill: var(--light-system-fill);
  --color-secondary-system-fill: var(--light-secondary-system-fill);
  --color-tertiary-system-fill: var(--light-tertiary-system-fill);
  --color-quaternary-system-fill: var(--light-quaternary-system-fill);
  --color-placeholder-text: var(--light-placeholder-text);
  --color-system-background: var(--light-system-background);
  --color-secondary-system-background: var(--light-secondary-system-background);
  --color-tertiary-system-background: var(--light-tertiary-system-background);
  --color-system-grouped-background: var(--light-system-grouped-background);
  --color-secondary-system-grouped-background: var(
    --light-secondary-system-grouped-background
  );
  --color-tertiary-system-grouped-background: var(
    --light-tertiary-system-grouped-background
  );
  --color-seperator: var(--light-seperator);
  --color-opaque-saparator: var(--light-opaque-saparator);
  --color-link: var(--light-link);
}

/* Container divs */
* {
  transition-property: background-color, background;
  transition-duration: var(--transition-time);
}

.tablet-container-padded {
  display: flex;
  max-width: 1020px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

@media (--screen-mobile) {
  .hide-in-mobile {
    display: none;
  }
}
